@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/*@tailwind base;*/
/*@tailwind components;*/
@tailwind utilities;

body {
    background: #f0efef;
}
main {
    margin-bottom:50px;
}

.breadcrumb-bar {
    float: left;
    width:90%;
    padding-top:14px;
}
.breadcrumb-item.active{
    color:aquamarine;
}
.breadcrumb-item a {
    text-decoration: none;
    color:azure;
}

.card {
    padding:10px;
    margin-bottom:5px;
}

/*datatables*/
.dt-container .top,
.dt-container .bottom {
    background: none;
    /* height: 28px; */
    box-sizing: border-box;
    padding: 0px;
    margin: 15px 0;
}

.dt-container .dt-info {
    clear: both;
    float: left;
}

.dt-container .dt-length {
    float: left;
    padding-left: 10px;

}

.dt-container .dt-length select {
    width: 45px !important;
    padding: 0 !important;
    float: none !important;
    border: none !important;
}

.dt-container .dt-paging {
    float: right;
    text-align: right;
    padding-top: 0;
}

div.dt-container .dt-paging .dt-paging-button {
    padding: 6px 10px;
    font-size: 12px;
}

/*Upload file text button*/
#imageUploader label {
    @apply block cursor-pointer bg-gray-300 text-black w-48 text-center mt-2 rounded-md leading-8;
}

#imageUploader .hidden {
    position: absolute;
    left: -99999px;
}

.nav-tabs {
    @apply mt-1;
}

.tab-content {
    @apply bg-gray-50 border-l-gray-200 border-l-1;
}

.nav-tabs .nav-link.active {
    @apply bg-gray-50;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
}

.tab-pane {
    padding: 10px;
}